input {
  lumberjack {
        port => 5043
        type => "all"
	ssl_certificate => "/etc/pki/tls/certs/logstash-forwarder.crt"
	ssl_key => "/etc/pki/tls/private/logstash-forwarder.key"
  }
}

filter {
	if [type] == "log4net" {
		grok {
			patterns_dir => "./patterns"
		        match => [ "message", "%{TIMESTAMP_ISO8601:EventTime} \[%{NUMBER:thread}\] %{LOGLEVEL:level}\s+%{WORD:logger} \[\(null\)\] - %{WORD:application}:\{Message: '%{GREEDYDATA:logmessage}'\}" ]
		}
		grok {
			match => [ "logmessage" , "(?i)%{GREEDYDATA}appId[:=](\s)?+%{UUID:appId}%{GREEDYDATA}" ]
		}
		grok {
			match => [ "logmessage" , "(?i)%{GREEDYDATA}publisherId[:=](\s)?+%{UUID:publisherId}%{GREEDYDATA}"  ]
		}
		grok {
			match => [ "logmessage" , "(?i)\[%{WORD:action}\]%{GREEDYDATA}" ]
		}
		grok {
			match => [ "logmessage", "(?i)%{GREEDYDATA}planId[:=](\s)?+%{NUMBER:planId}%{GREEDYDATA}" ]
		}
	}
}

output {
  elasticsearch {
    cluster => "logscluster"
        host => "host_ip"
        }
}
